<div class="profile-input" >
    <div class="profile-input__container">
        <label class="profile-input__label" for="{{name}}">{{label}}</label>
        <input
                class="profile-input__element"
                placeholder="{{value}}"
                type="{{password}}"
                name="{{name}}"
                id="{{name}}"
        />
    </div>
</div>


